@font-face {
    font-family: 'SF Bold';
    src: url('./SF/SF-Pro-Display-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'SF Light';
    src: url('./SF/SF-Pro-Display-Light.otf') format('truetype');
}

@font-face {
    font-family: 'SF Meduim';
    src: url('./SF/SF-Pro-Display-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'SF Regular';
    src: url('./SF/SF-Pro-Display-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SF Bold Text';
    src: url('./SF/SF-Pro-Text-Bold.otf') format('truetype');
}