@import './assets/fonts/fonts.scss';
@import './assets/scss/auth/auth.scss';
@import './assets/scss/character/character.scss';
@import './assets/scss/settings/settings.scss';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none;
    -webkit-user-drag: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

// todo: Разобрать верстку (сверстать по нормальному, адаптив)