.hud {
    padding: 10px;

    .top_right {
        position: relative;
        float: right;
        color: white;

        .logo {
            display: flex;
            font-family: 'SF Meduim';
            font-size: 24px;
        }

        .online {
            margin-top: 5px;
            display: flex;
            font-family: 'SF Meduim';
            font-size: 14px;
        }

        .uid {
            margin-top: 5px;
            display: flex;
            font-family: 'SF Meduim';
            font-size: 14px;
        }

        // .reports_value {
        //     margin-top: 5px;
        //     display: flex;
        //     font-family: 'SF Meduim';
        //     font-size: 14px;
        // } 
    }
}