.register {
    display: flex;
    background: #000;
    max-width: 450px;
    height: 80%;
    left: 25%;
    margin: 40px 0 0 80px;
    border-radius: 12.5px;
    border: 0.5px solid white;

    flex-direction: column;
    flex-wrap: wrap;

    input {
        margin-left: 30px;
    }

    .content {
        position: relative;
        text-align: center;
        display: block;
        width: 100%;
        margin: 5px 0 0 0;

        .title {
            justify-content: center;
            font-family: 'SF Bold';
            display: flex;
            color: white;
            margin-top: 15px;
        }

        .description {
            justify-content: center;
            font-family: 'SF Light';
            display: flex;
            color: white;
            font-size: 16px;
            margin: 15px 0 0 0;
        }

        .email {
            display: flex;
            width: 85%;
            height: 55px;
            margin: 40px 30px 0 30px;
            background: #000;
            color: white;
            border: 1px solid white;
            border-radius: 7.5px;
            padding-left: 10px;
            font-size: 16px;
        }

        .logIn {
            display: flex;
            width: 85%;
            height: 55px;
            margin: 20px 30px 0 30px;
            background: #000;
            color: white;
            border: 1px solid white;
            border-radius: 7.5px;
            padding-left: 10px;
            font-size: 16px;
        }

        .password {
            display: flex;
            width: 85%;
            height: 55px;
            margin: 20px 30px 0 30px;
            background: #000;
            color: white;
            border: 1px solid white;
            border-radius: 7.5px;
            padding-left: 10px;
            font-size: 16px;
        }

        .enterReg {
            font-family: 'SF Light';
            display: flex;
            border: none;
            background: #007bff;
            color: white;
            font-size: 20px;
            border-radius: 5px;
            margin: 80px 0 0 40px;
            justify-content: center;
            align-items: center;            
            width: 140px;
            height: 50px;
        }

        .enterReg:hover {
            background: #015bbb;
            cursor: pointer;
        }

        .enterLog {
            font-family: 'SF Light';
            display: flex;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 50px;
            border: none;
            font-size: 20px;
            border-radius: 5px;
            margin: -50px 50px 0 190px;
            color: white;
            background: #007bff;
        }

        .enterLog:hover {
            background: #015bbb;
            cursor: pointer;
        }
    }
}